@model EcomRevisited.ViewModels.ProductListViewModel

<!-- Custom CSS -->
<style>
    .product-card:hover {
        transform: scale(1.02);
        transition: transform .25s ease-in-out;
    }

    .search-bar {
        border-radius: 50px;
    }

    .search-button {
        border-radius: 0 50px 50px 0;
    }

    .rounded-pill {
        border-radius: 50px !important;
    }

    @@media (max-width: 767px) {
        .product-card {
            margin: 0 auto;  
        }
    }
</style>

<div class="container">
    <h1 class="text-center my-5">Catalogue</h1>

    <!-- Search Bar -->
    <div class="d-flex justify-content-center mb-5">
        <div class="input-group w-50">
            <input type="text" class="form-control search-bar" placeholder="Search for products" aria-label="Product search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary search-button" type="button">Search</button>
            </div>
        </div>
    </div>

    <!-- Product List -->
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 mb-5 d-flex align-items-stretch">
                <div class="card product-card w-100">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text"><strong>@product.Price $</strong></p>
                        <div class="d-flex justify-content-between">
                            @if (product.AvailableQuantity > 0)
                            {
                                <form asp-action="AddProductToCart" asp-controller="Cart" method="post">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-primary rounded-pill">Add to Cart</button>
                                </form>
                            }
                            else
                            {
                                <button class="btn btn-danger rounded-pill" disabled>Out of Stock</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
